<div class="card-wrap" [style.background] = "task.color">      
  <h3>{{ task.title }}</h3>
       
            
        <div class="form" ><div class = "row">
            <input type = "checkbox" *ngIf = "task.checkbox" [checked] = "task.completed" (change) = "toggle()"/>
            <p [style.text-decoration] = "textdecoration" class="cont" >{{ task.content }}
            </p>
            </div>
            <p class="last">
              <app-labelbox *ngFor = "let tagitem of labels" [item] = "tagitem" (deleteLabel) = "removelabel($event)" (filterLabel) = "filterbylabel($event)"></app-labelbox>
            </p>
          
          <div class = "row">
                
            <button *ngIf="!task.archive" (click) = "edit()"> Edit </button>
            <button *ngIf="!task.archive"(click) = "setPinned(task)"> {{ pinbutton }} </button>
            <button (click) = "openColorMenu()"> Color </button>
            <button *ngIf="!task.archive"(click) = "showLabelMenu()"> Add Label </button>
            <button *ngIf="!task.archive"(click) = "checkbox()"> {{ todobox }} </button>
            <button (click) = "archive(task)"> {{ archivebutton }} </button>
            <button (click) = "deleteTask(task)"> Delete </button>
            
        </div>
        <form #data="ngForm" [style.display] = "editable">
                <div class="form row" >
                  <input type="text" [(ngModel)] = "Title" placeholder="enter title" name="title" />
                  <input type="text" [(ngModel)] = "Content" placeholder="Enter content" name="content" />
                  <button type="submit" (click)="update(data)"> Update </button>
                  <button (click)="closeeditter()"> Close </button>
                </div>
                </form>
        <form [style.display] = "colorMenu">
                <div class="form row" >
                    <button [style.background] = "option[0]" (click) = "setColor(option[0])">1</button>
                    <button [style.background] = "option[1]" (click) = "setColor(option[1])">2</button>
                    <button [style.background] = "option[2]" (click) = "setColor(option[2])">3</button>
                    <button [style.background] = "option[3]" (click) = "setColor(option[3])">4</button>
                    <button (click)="closeeditter()"> Close </button>
                  </div>
                  </form>
        <form #labeldata="ngForm" [style.display] = "labelmenu">
                    <div class="form row" >
                      <input type="text" [(ngModel)] = "Content" placeholder="Enter Label" name="label" />
                      <button type="submit" (click)="addLabel(labeldata)"> Add </button>
                      <button (click)="closeeditter()"> Close </button>
                      </div>
                      </form>
        </div>
        
</div>
        
        