<div>
    <div class="toolbar" role="banner">
        <span class="spanner" (click) = "leavearchive()">NOTES</span>
        <div class="spacer"></div>
        
        <div class="spacer"></div><span class="spanner">LOGOUT</span>
    </div>
   
    <p *ngIf = "!nodeexist" ><span>{{ load }} </span></p>
    <div class = "gallery">
    <app-card *ngFor="let todo of tasklist" [task] = "todo" (editContent)="updateLabel($event)" (updateArchive) = "updateArchive($event)" (updateLabel) = "updateLabel($event)" (deleteNote)="deleteNote($event)"></app-card>
    </div>
</div>
