/* You can add global styles to this file, and also import other style files */
body {
    /*background-image: url("https://wallpaperaccess.com/full/149370.jpg");
    */
    background-color: #fff9da;
    background-repeat: no-repeat;
    background-size: cover;
}

